@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}

/* ##################      Utility Classes      ################ */
.text-white {
  color: whitesmoke;
}

.text-black {
  color: #333;
}

.text-red {
  color: #e13c3c;
}

.text-greish {
  color: #777;
}

.large-heading {
  font-size: 3rem;
  letter-spacing: 0.15em;
}

.medium-heading {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.utility-button {
  display: inline-block;
  background: whitesmoke;
  padding: 1em 0.8em;
  outline: none;
  border: none;
  border-radius: 2em;
} 

.utility-button:hover {
  background: #ddd;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* ##################      Utility Classes      ################ */

/* ##################      Size Fitting  & Float Clear       ################# */
.container {
  max-width: 100vw;
  width: 80%;
  margin: 0 auto;
  /* border: 4px solid red; */
}

.container::after {
  content: "";
  display: block;
  clear: both;
}
/* ##################      Size Fitting & Float Clear      ################# */

/* ##################      Header Styling       ################# */
.index-header {
  background-image: url(../Img/header-image.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* *******************     Navigation Bar Styling     ******************* */
nav img {
  float: left;
  height: 7rem;
  display: block;
  padding: 1em 0;
}

nav ul {
  float: right;
  font-size: 2rem;
  padding: 1em 0;
}

nav li {
  display: inline;
}

nav a {
  color: whitesmoke;
  margin-right: 1em;
}

nav a.last-nav-link {
  margin-right: 0;
}

nav a:hover {
  border-bottom: 2px solid whitesmoke;
}

/* *******************     Navigation Bar Styling     ******************* */

/* *******************     Header Content Styling     ******************* */
.header-content-container {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content-container h1 {
  font-size: 2.4rem;
  letter-spacing: 0.15em;
  /* margin: 0.5em auto; */
}

.header-content-container p {
  font-size: 1.8rem;
  margin: 1em 0;
}

.header-content-container a {
  font-size: 1.6rem;
  margin-top: 0.5em;
}
/* *******************     Header Content Styling     ******************* */
/* ##################      Header Styling       ################# */

/* ##################       Main Styling        ################# */
.main-background {
  background: #ddd;
  padding: 8rem 0;
}

.main-content {
  background: #fff;
  /* border: 6px solid yellow; */
  box-shadow: 0px 0px 10px 2px #ccc;
}

.lower-content {
  margin-top: 8rem;
}

.left {
  float: left;
  width: 50%;
  /* height: 36rem; */
  height: 36rem;
  /* border: 8px solid green; */
}

.right {
  float: right;
  width: 50%;
  /* height: 36rem; */
  height: 36rem;
  /* border: 8px solid green; */
}

.main-content img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content h2 {
  text-transform: uppercase;
  padding: 1em 0;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.main-content p {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  padding-bottom: 2em;
}

.main-content a {
  /* display: inline-block; */
  text-transform: uppercase;
  padding: 1em;
  border: 2px solid #e13c3c;
  margin-left: 1.5rem;
}

/* ******************     Feature Styling      ***************** */

.feature-background {
  background: #fff;
  width: 100%;
  /* padding: 8rem; */
}

.feature-container {
  background: #263238;
  color: whitesmoke;
  border: none;
  margin: 8rem auto;
  margin-bottom: 0;
  box-shadow: 0px 0px 10px 2px #ccc;
}

.feature {
  width: 33.3333333%;
  float: left;
  text-align: center;
  padding: 1.5em;
}

.middle {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

/* ******************     Feature Styling      ***************** */
/* ##################       Main Styling        ################# */

/* ##################       Footer Styling      ################# */
footer {
  background: #263238;
  text-align: center;
  margin-top: 8rem;
  padding: 1em 0;
}

footer i {
  padding: 0 0.5em;
}
/* ##################       Footer Styling      ################# */


/* @@@@@@@@@@@@@@@@@@       About Page Styling      @@@@@@@@@@@@@@@@@@@@@@@ */

.navbar {
  background-color: #263238;
}

.about-main-container {
  margin: 8rem auto;
}

.about-main-container h1::after {
  display: block;
  content: '';
  border: 3px solid #e13c3c;
  margin-bottom: 0.5em;
}

.about-list-container {
  width: 100%;
  /* border: 4px solid black; */
  margin-top: 2em;
}

.left-list, .right-list {
  float: left;
  width: 50%;
  /* border: 2px solid green; */
}
.about-main-container ul {
  height: auto;
  text-align: center;
}

.about-main-container li::before {
  content: '\2713';
  color: #e13c3c;
  margin-right: 0.3em;
}

.num-container {
  width: 100%;
  font-weight: 700;
  text-align: center;
  margin: 2em auto;
}

.num-info {
  float: left;
  width: 25%;
}

span.text-red {
  display: block;
  font-size: 2.4rem;
}

.about-feature {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  width: 100%;
  font-weight: 700;
}

.about-feature p {
  float: left;
  margin: 2.5em 1em;
}

.about-feature a {
  float: right;
  color: whitesmoke;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 1em 3em;
  border: 6px solid whitesmoke;
  margin: 0.2em;
}
/* @@@@@@@@@@@@@@@@@@       About Page Styling      @@@@@@@@@@@@@@@@@@@@@@@ */






/* @@@@@@@@@@@@@@@@@@       Contact Page Styling      @@@@@@@@@@@@@@@@@@@@@@@ */
.contact-main-content {
  width: 100%;
}

.contact-info, .contact-form {
  width: 48%;
  height: 670px;
  background-color: #fff;
  text-align: left;
  padding: 1em;
}

.contact-info {
  float: left;
}

.contact-form {
  float: right;
}

.contact-info i, .contact-info h2 {
  display: inline;
}

.contact-info a {
  display: block;
  text-transform: none;
  border: none;
  margin: 0;
}

.contact-info img {
  display: block;
  width: 92.5%;
  margin-top: 3em;

  object-fit: cover;
  background-position: right;
}

.contact-form h1::after {
  display: block;
  content: '';
  border: 3px solid #e13c3c;
  margin: 0.1em auto;
}

label {
  display: block;
}

input, textarea {
  width: 100%;
}

form button {
  display: block;
  background: #e13c3c;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 0.5em 3em;
  outline: none;
  border: none;
  margin: 1em auto;
}

.contact-footer {
  margin-top: 0;
}
/* @@@@@@@@@@@@@@@@@@       Contact Page Styling      @@@@@@@@@@@@@@@@@@@@@@@ */


/* ##################       Media Queires       ################## */
@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  nav img, nav ul {
    float: none;
    text-align: center;
    padding: 0.5em 0 0 0;
    margin: 0 auto;
  }
  nav img {
    display: block;
    height: 4rem;
  }
  nav {
    margin-bottom: 1em;
  }

  main {
    margin-top: 1rem;
  }

  .container {
    width: 100%;
  }


  .left, .right, .feature {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .left a, .right a {
    margin-bottom: 1em;
  }

  .main-content img {
    min-height: 36rem;
  }





  .about-main-container {
    text-align: center;
  }
  .about-feature p, .about-feature a {
    float: none;
    display: block;
    text-align: center;
  }

  .about-feature {
    padding: 1em;
  }
}

@media (max-width: 1200px) {
  .left, .right, .feature {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .left a, .right a {
    margin-bottom: 1em;
  }
  .left img, .right img {
    height: 30rem;
  }

  .contact-info, .contact-form {
    float: none;
    width: 100%;
    height: auto;
  }

  .contact-info img {
    margin: 1em 0;
  }
}
/* ##################       Media Queires       ################## */